<ul>
<li style = "display: inline; "><%= link_to 'home', root_path  %></li>
<li style = "display: inline; "><%= link_to 'about', about_path  %></li>
<li style = "display: inline; "><%= link_to 'services', services_path  %></li>
</ul>